<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Cargos e Pessoas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand text-light" href="#">Lista de Cargos e Pessoas</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <div class="container mt-4">
        <h1>Lista de Cargos</h1>
        <ul class="list-group">
            <% for (let i=0; i < cargos.length; i++) { %>
                <li class="list-group-item">
                    Cargo: <b><%= cargos[i].nome_cargo %></b>
                </li>
                <% } %>
        </ul>

        <h1 class="mt-4">Lista de Pessoas</h1>
        <ul class="list-group">
            <% for (let i=0; i < pessoas.length; i++) { %>
                <li class="list-group-item">
                    Nome: <b><%= pessoas[i].nome %></b><br>
                    Idade: <b><%= pessoas[i].idade %></b><br>
                    Salário: <b><%= pessoas[i].salario %></b><br>
                    Cargo: <b><%= pessoas[i].nome_cargo %></b>
                </li>
                <% } %>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>